# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Serverless
.serverless/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Local logs
uvicorn.log

